# .env
PORT=4000
CLIENT_SRC=app
API_SITE=http://localhost
API_PORT=3000
# API_BASE_URL=http://localhost:3000  # optional: overrides API_SITE + API_PORT
LOG_LEVEL=info  # debug | info | warn | error
LOG_DIR=./logs
